@import url("https://fonts.googleapis.com/css2?family=Economica:wght@400;700&family=Montserrat:wght@400;700&display=swap");

$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Economica", sans-serif;

$color-white: #ffffff;
$color-black: #222222;
$color-green: green;
$color-red: darkred;
$color-blue: #0056a4;
