.app-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 1.5rem 1rem;

    .grid-item {
        padding: 1rem;
        box-shadow: 1px 1px 2px rgba($color-black, 0.5);

        img {
            height: 150px;
            width: 100%;
            object-fit: contain;
        }

        h3 {
            color: $color-blue;
        }
    }
}
