@import "../assets/scss/utils";

.app-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 0;
        padding: 0.5rem;
        text-decoration: none;
        color: $color-blue;

        &.active {
            color: $color-white;
            background-color: $color-blue;
        }
    }
}
